{
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "import/extensions": "off",
    "react/prop-types": "warn",
    "jsx-a11y/label-has-associated-control": "warn"
  },
}
